.vs--single {
    &.v-select {
        box-shadow: 0 0 0 transparent;
        border-radius: 4px;
        border: 1px solid #8c8f94;
        background-color: #fff;
        color: #2c3338;
    }

    &.v-select.vs--open {
        box-shadow: var(--ring-inset) 0 0 0 calc(1px + var(--ring-offset-width)) var(--ring-color);
        --ring-color: theme('colors.sky.600');
    }

    &.vs--open .vs__selected,
    &.vs--loading .vs__selected {
        position: initial;
        opacity: .4
    }

    input[type=search].vs__search {
        background-color: transparent;
        border: none;
        box-shadow: none;
        line-height: normal;
        margin: 0;
        padding-top: 2px;
        padding-bottom: 2px;
        width: theme('width.full');
        font-size: theme('fontSize.sm');
    }

    input[type=search].vs__search::placeholder {
        color: #646970;
    }

    span.vs__selected {
        font-size: theme('fontSize.sm');
        margin: 0 2px;
        width: theme('width.full');
    }

    .vs__dropdown-toggle {
        border: none;
        padding: 0;
    }

    .vs__dropdown-menu {
        padding: 0;
    }

    .vs__selected-options {
        flex-grow: 0;
        flex-wrap: nowrap;
    }

    .vs__selected-options:has(>span.vs__selected) input[type=search].vs__search {
        width: 1px;
    }

    .vs__actions {
        --vs-actions-padding: 0px 6px 0 3px;
        padding-top: 0;
    }

    .vs__actions svg {
        transform: scale(0.7);
        fill: #7a7a7a;
    }

    &.vs--open .vs__actions svg {
        transform: rotate(180deg) scale(0.7);
    }

    .vs__clear {
        display: none;
    }

    .vs__open-indicator {
        position: absolute;
        right: 4px;
    }
}


.vs--multiple {
    &.v-select {
        box-shadow: 0 0 0 transparent;
        border-radius: 4px;
        border: 1px solid #8c8f94;
        background-color: #fff;
        color: #2c3338;

        &.vs--open {
            --ring-color: theme('colors.sky.600');
            box-shadow: var(--ring-inset) 0 0 0 calc(1px + var(--ring-offset-width)) var(--ring-color);
        }
    }

    &.vs--open .vs__selected,
    &.vs--loading .vs__selected {
        position: initial;
        // opacity: .4
    }

    input[type=search].vs__search {
        background-color: transparent;
        border: none;
        box-shadow: none;
        line-height: normal;
        margin: 0;
        padding-top: 2px;
        padding-bottom: 2px;
        // width: theme('width.full');
        font-size: theme('fontSize.sm');
    }

    .vs__dropdown-toggle {
        border: none;
        // padding: 0;
    }

    .vs__actions svg {
        transform: scale(0.7);
        fill: #7a7a7a;
    }

    &.vs--open .vs__actions svg {
        transform: rotate(180deg) scale(0.7);
    }
}